<div class="search-cities">
  <div class="search-cities__search-block d-flex-justify--center page-block">
    <app-search (search)="onSearchChanged($event)"></app-search>
  </div>

  <div class="search-cities__content-block">
    <ng-container *ngIf="cities$ | async as cities">
      <ng-container *ngIf="cities.length; else notFound">
        <div class="d-flex-justify--center page-block">
          <cities-list-component
            [cities]="cities"
            (updateCity)="onUpdateCity($event)"
          ></cities-list-component>
        </div>

        <div class="d-flex-justify--center page-block">
          <app-pagination
            [totalPages]="totalCitiesAmount$ | async"
            [currentPage]="currentPage"
            [itemsPerPage]="citiiesPerPage"
            (pageChanged)="onPageChanged($event)"
          ></app-pagination>
        </div>
      </ng-container>
    </ng-container>
  </div>

  <ng-template #notFound>
    <div class="not-found-template">No cities found</div>
  </ng-template>
</div>
